[submodule "custom/plugins/zsh-autosuggestions"]
	path = custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "custom/plugins/fast-syntax-highlighting"]
	path = custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "custom/plugins/zsh-autocomplete"]
	path = custom/plugins/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "custom/themes/powerlevel10k"]
	path = custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "custom/plugins/z-shell-_-zsh-eza"]
	path = custom/plugins/z-shell-_-zsh-eza
	url = git@github.com:renovate-bot/z-shell-_-zsh-eza.git
[submodule "custom/plugins/zsh-eza"]
	path = custom/plugins/zsh-eza
	url = git@github.com:renovate-bot/z-shell-_-zsh-eza.git
[submodule "custom/plugins/history-sync"]
	path = custom/plugins/history-sync
	url = git@github.com:wulfgarpro/history-sync.git
